nav{
    min-height: fit-content;
}

.ratings{

    padding: 2px 3px;
    color:#ffffff;
    font-size:13px;
    background-color: #1687d8;
    width: fit-content;
    border-radius: 5px;
}

.rating-color{
    color:#fbc52f;
}

@media only screen and (max-width: 550px) {
    .body{
        margin-top: 20%;
        margin-bottom: 15%;
    }
}

@media only screen and (min-width: 560px) {
.body{
    margin-top: 7%;
    padding-top: 20px;
    margin-bottom: 7%;
    height: 100%;
}
}

footer{
    bottom:0;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0px;
    margin-left: 0px;
}

.badge-custom{
    background-color: #1687d8;
}

.blurImage{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
    
  .card-img-caption .card-img-top {
    z-index: 0;
  }
      
  .card-img-caption .card-text {
    text-align: center;
    width: fit-content;
    position: absolute;
    z-index: 1;
    text-decoration: solid;
    padding: 5px 10px;
  }

  .disable{
    pointer-events:none;
    background:rgba(194, 193, 193, 0.911);
    }