{% extends "baseTemplate.html" %}

{% block title %}Ticket Show{% endblock %}

{% block content %}
<div class="container text-center" style="height: 100vh;">
  <div class="row justify-content-md-center" style="margin-top: 10%;">
    <div class="col-10 col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Admin User</h5>
          <p class="card-text">Login to work on shows and venues</p>
          <a href="/adminLogin" class="btn btn-primary">Admin Login</a>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">General User</h5>
          <p class="card-text">Login to buy tickets and learn about the latest shows</p>
          <a href="/userLogin" class="btn btn-primary">User Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}