{% extends "baseTemplate.html" %}

{% block title %}Popular Shows{% endblock %}

{% block head %}
<style>
.offcanvas{
        min-height: 90%;
}
</style>
{% endblock %}

{% block searchBar %}
<form class="d-md-flex" role="search" method="post" action="/user/showsByName">
  <input class="form-control form-control-sm me-2 mt-2 mb-2" name="sname" type="search" placeholder="Search for shows" aria-label="Search">
  <button class="btn btn-sm btn-outline-success mt-2 mb-2" type="submit">Search</button>
</form>
{% endblock %}

{% block content %}
<!-- Reviews Modal -->
<div class="modal fade" id="reviewsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reviewsModalLabel">Reviews</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="reviewsModalBody">
        <ul class="list-group" id="reviews">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="filterModalLabel">Filter Shows</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="/user/filterShows">

        <div class="modal-body" id="filterModalBody">
          <div class="container">

            <div class="row mb-3">
              <div class="col-12">
                  <div class="input-group input-group-md">
                      <span class="input-group-text">Tags</span>
                      <div class="form-control">
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagAction" name="tags" value="Action">
                              <label class="form-check-label" for="Action"> Action</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagThriller" name="tags" value="Thriller">
                              <label for="Thriller" class="form-check-label"> Thriller</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagComedy" name="tags" value="Comedy">
                              <label for="Comedy" class="form-check-label"> Comedy</label>    
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagHorror" name="tags" value="Horror">
                              <label class="form-check-label" for="Horror"> Horror</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagMystery" name="tags" value="Mystery">
                              <label for="Mystery" class="form-check-label"> Mystery</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagFantasy" name="tags" value="Fantasy">
                              <label for="Fantasy" class="form-check-label"> Fantasy</label>    
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="TagDrama" name="tags" value="Drama">
                              <label for="Drama" class="form-check-label"> Drama</label>    
                          </div>
                      </div>
                  </div>
              </div>
              <div id="tagCheck" class="invalid-feedback">&emsp;One tag must be selected</div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                  <div class="input-group input-group-md">
                      <span class="input-group-text">Languages</span>
                      <div class="form-control">
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangEnglish" name="languages" value="English">
                              <label class="form-check-label" for="English"> English</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangHindi" name="languages" value="Hindi">
                              <label for="Hindi" class="form-check-label"> Hindi</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangBengali" name="languages" value="Bengali">
                              <label for="Bengali" class="form-check-label"> Bengali</label>    
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangTamil" name="languages" value="Tamil">
                              <label class="form-check-label" for="Tamil"> Tamil</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangTelegu" name="languages" value="Telegu">
                              <label for="Telegu" class="form-check-label"> Telegu</label>
                          </div>
                          <div class="form-check form-check-inline">
                              <input type="checkbox" class="form-check-input" 
                              id="LangMalayalam" name="languages" value="Malayalam">
                              <label for="Malayalam" class="form-check-label"> Malayalam</label>    
                          </div>
                      </div>
                  </div>
              </div>
              <div id="langCheck" class="invalid-feedback">&emsp;One Language must be selected</div>
          </div>

          <div class="col-12 col-sm-8 mb-3">
            <label for="userRating" class="form-label">Rating (greater than) <span id="ratingValue" class="badge bg-primary text-white" on="changeColour();">5</span></label>
            <input type="range" class="form-range" min="0" max="10" value="5" step="1" 
            name="userRating" id="userRating" onchange="updateRating(this.value);" required>
          </div>
          
          <div class="col-12 mb-3">
            <label for="runningShows" class="form-radio-label">Display only running shows? </label>
            <input type="radio" class="form-radio-input" name="runShows" value="yes" checked> Yes
            &emsp14;<input type="radio" class="form-radio-input" name="runShows" value="no"> No
          </div>
          <br/>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" id="filterBt" class="btn btn-primary">Filter</a>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="chVenueCanvas" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="venuesShowTitle">Venues for : <small id="shwName"></small></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="searchBar">
          <div class="row">
              <div class="col-4">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="cityName" data-bs-toggle="dropdown" aria-expanded="false">
                    Choose city
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for city in cities %}
                    <li><a  class="dropdown-item" href="#" data-columns="1" data-city="{{ city['city'] }}" onclick="getVenues();">{{ city['city'] }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>       
          </div>
          <br/><br/>
        </div>
        <div class="row row-cols-2 row-cols-sm-5 row-md-4 g-4" id="chooseVenueCards">

        </div>
    </div>
</div>

<div class="container body">
    <div class="row">
      <div class="col-12 col-sm-8"><h2>{{ heading }}</h2></div>
      <div class="col-12 col-sm-4 d-flex flex-row-reverse">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" 
        data-bs-target="#filterModal" style="padding: 1px 15px; background-color:rgb(32, 121, 118)">Filter Shows</button>
      </div>
    </div>
    <hr/><br/><br/>
    {% if showListEmpty is defined %}
    <div class="vh-100">
      <br/><h2 class="alert alert-primary text-center" style="width: 50%; margin: auto;">No Show available</h2>
    </div>
    {% else %}
    <div class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1 row-cols-1 g-3">    
    {% for show in shows %}
        <div class="col">
          <div class="card p-3" style="width: 18rem; margin-right: 20px;">
            <div class="card-img-caption d-flex flex-row-reverse">
              <span class="card-text badge rounded-pill badge-custom">
                <div class="ratings">
                  {% for i in range(1,6) %}
                    {% if(i <= (show['rating']|int)/2) %}
                      <i class="fa fa-star rating-color"></i>
                    {% else %}
                      <i class="fa fa-star-o"></i>
                    {% endif %}
                  {% endfor %}
                </div>
              </span>
              <img src="{{ url_for('static',filename='show.png')}}" class="card-img-top blurImage" height="200px" width="30px" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ show['name'] }}</h5>
              <div class="card-text">
                {% for tag in show['tags'] %}
                <span class="badge bg-success">{{ tag['name'] }}</span>&nbsp;
                {% endfor %}<br/>
                {% for lng in show['languages'] %}
                <span class="badge bg-dark text-white">{{ lng['name'] }}</span>&nbsp;
                {% endfor %}
                <span class="badge bg-info text-white">{{ show['duration'] }}</span>&nbsp;
              </div>
            </div>
            <div class="card-footer text-muted">
              <button type="button" data-columns="1" data-sname="{{ show['name'] }}" onclick="getReviews();"
              class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#reviewsModal">Reviews</button>&emsp13;
              
              <button type="button" class="btn btn-sm btn-success" data-bs-toggle="offcanvas" onclick="setShow();"
              data-bs-target="#chVenueCanvas" aria-controls="chVenueCanvas" data-columns="1" data-sname="{{ show['name'] }}">Venues</button>
            </div>
          </div>
        </div>


      {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    cty = '';

      function getCardLayout(name,rating,comment,tmp,color){
        
        return `<li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
          <div class="fw-bold">${name}</div>
          ${comment}<br/><br/>
          <p class="text-muted">${tmp.substring(0,16)}</p>
          </div>
          <span class="badge ${color} rounded-pill">${rating}</span>
          </li>`

    }

    function getReviews(){
        
    document.getElementById('reviews').innerHTML = `<div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span></div>`;

    sNameEv = event.target;
    sname = sNameEv.dataset.sname 
        fetch('http://127.0.0.1:5000/api/review/'+sname)
    .then(async (response) => {

        const data = await response.json();
        let allCards = "";
        for(const e of data){
            if(e.user.name == null) 
            {
              name = "User";
            }
            else{
              name = e.user.name;
            }
            if(parseInt(e.gRating) > 7)
            {
                color = 'bg-success'
            }
            else if(parseInt(e.gRating) < 4)
            {
              color = 'bg-danger'
            }
            else
            {
              color = 'bg-warning'
            }

            allCards += getCardLayout(name,e.gRating,e.comment,e.timestamp,color);
        }
        document.getElementById('reviews').innerHTML = allCards;
        
    })
    .catch(error => {
        document.getElementById('reviewsModalBody').innerHTML = "<h3>No Reviews yet</h3>";
        console.log(error)
    });
    }

  function getVnCardLayout(sName,vId,vName, vLoc, vCity){
        
        return `<div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">${ vName }</h5>
                  <p class="card-text">
                    <br/>Location : &nbsp;${ vLoc }, ${ vCity } 
                    </p>
                  <a href="/user/bookTimeslot/?show=${sName}&vid=${ vId }" class="btn btn-primary">Choose Venue</a>
                </div>
              </div>
            </div>`

  }

  function getVenues(){
        
    document.getElementById('chooseVenueCards').innerHTML = `<div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span></div>`;

    vnEvent = event.target;
    city = vnEvent.dataset.city;

    sname = document.getElementById('shwName').innerHTML  
    console.log(city,sname)
    fetchUrl = 'http://127.0.0.1:5000/api/venues/byShow/'+sname+"?city="+city;
        
    fetch(fetchUrl)
    .then(async (response) => {

        const data = await response.json();
        let allCards = "";
        for(const e of data){
            allCards += getVnCardLayout(sname,e.id, e.name, e.location, e.city);
        }
        document.getElementById('chooseVenueCards').innerHTML = allCards;
        
    })
    .catch(error => {
        document.getElementById('chooseVenueCards').innerHTML = "<h3>Coming to this city soon...</h3>";
        console.log(error)
    });
  }

  function setShow(){
        const showName = document.getElementById("shwName");
        showEv = event.target;
        show = showEv.dataset.sname;
        showName.innerHTML = show;   
  }

  function updateRating(val) 
  {
          document.getElementById('ratingValue').innerHTML=val; 
          let value = parseInt(val);
          console.log(value);
        if(value < 4)
        {
            document.getElementById('ratingValue').classList.remove("bg-primary","bg-success","bg-warning","bg-danger");
            document.getElementById('ratingValue').classList.add("bg-danger");
        }        
        else if(value > 7)
        {
            document.getElementById('ratingValue').classList.remove("bg-primary","bg-success","bg-warning","bg-danger");
            document.getElementById('ratingValue').classList.add("bg-success");
        }
        else{
            document.getElementById('ratingValue').classList.remove("bg-primary","bg-success","bg-warning","bg-danger");
            document.getElementById('ratingValue').classList.add("bg-warning");
        }
  }

</script>
{% endblock %}